//====================================================================================================
.footer {
  background: rgba(255, 0, 0, 0.85);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

@supports (gap: clamp(0.625rem, -0.2840909091rem + 4.5454545455vw, 3.125rem)) {
  .footer__container {
    gap: clamp(0.625rem, -0.2840909091rem + 4.5454545455vw, 3.125rem);
  }
}

@supports not (
  gap: clamp(0.625rem, -0.2840909091rem + 4.5454545455vw, 3.125rem)
) {
  .footer__container {
    gap: calc(0.625rem + 2.5 * (100vw - 20rem) / 55);
  }
}

@supports (width: clamp(7.5rem, 5.5681818182rem + 9.6590909091vw, 12.8125rem)) {
  .footer__logo img {
    width: clamp(7.5rem, 5.5681818182rem + 9.6590909091vw, 12.8125rem);
  }
}

@supports not (
  width: clamp(7.5rem, 5.5681818182rem + 9.6590909091vw, 12.8125rem)
) {
  .footer__logo img {
    width: calc(7.5rem + 5.3125 * (100vw - 20rem) / 55);
  }
}

.footer__contacts {
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
  font-weight: 700;
}

.contacts-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
  font-size: 1.125rem;
  font-weight: 500;
}

.contacts-footer__list li:last-child {
  font-weight: 400;
  margin: 0.625rem 0;
}
//====================================================================================================
